<div id="login-container">
  <img
    class="profile-img"
    src="../../assets/158228549_3178631269030717_2089130224997675053_n.png"
    alt="logo"
  />
  <span class="logOut" (click)="onLogout()">SingOut</span>
  <h1>Noussaier</h1>
  <div class="description">
    Iam front end web developer in tunisie. i worked in the freelance for 2
    years now. Check out my projects in the links below. iam available for hire
    as well.
  </div>
  <div class="social">
    <a href="https://github.com/snakeoss05">GitHub</a>
    <a href="https://twitter.com/BibaniNoussaier">Twitter</a>
    <a href="https://www.linkedin.com/in/noussaier-bibani/">LinkedIn</a>
  </div>
  <a href="https://www.linkedin.com/in/noussaier-bibani/">
    <button>Hire Me</button></a
  >
  <footer>
    <div class="likes">
      <p><i class="fa fa-heart"></i></p>
      <p>1.5K</p>
    </div>
    <div class="projects">
      <p>Projects</p>
      <p>11</p>
    </div>
  </footer>
</div>
