<div id="login-container">
  <img
    class="profile-img"
    src="../../assets/158228549_3178631269030717_2089130224997675053_n.png"
    alt="logo"
  />
  <span class="logOut" (click)="onLogout()">SingOut</span>
  <h1>Noussaier</h1>
  <div class="description">
    Iam front end web developer in tunisie. i worked in the freelance for 2
    years now. Check out my projects in the links below. iam available for hire
    as well.
  </div>
  <div class="social">
    <a>GitHub</a>
    <a>Twitter</a>
    <a>LinkedIn</a>
  </div>
  <button>Hire Me</button>
  <footer>
    <div class="likes">
      <p><i class="fa fa-heart"></i></p>
      <p>1.5K</p>
    </div>
    <div class="projects">
      <p>Projects</p>
      <p>154</p>
    </div>
  </footer>
</div>
